@import '../../assets/sass/main.scss';

.deleteBtn {
  @include font(500, 14px, 2.71);
  color: var(--auth-bg-cl);
  background-color: var(--btn-del-cl);
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid var(--btn-del-cl);
  transition: all 250ms linear;
  border-radius: 10px;
  display: block;
  @include vp(tablet) {
    width: 20%;
    @include font(500, 14px, 2.71);
    padding-left: 10px;
    padding-right: 10px;
  }
}
.deleteBtn:hover,
.deleteBtn:focus {
  background-color: var(--btn-del-cl-hover);
  border: 1px solid var(--btn-del-cl-hover);
  color: var(--main-text-cl);
  box-shadow: 4px 4px 8px rgba(36, 42, 55, 0.15);
}
.deleteBtn:active {
  background-color: var(--btn-del-cl-active);
  color: var(--additional-text-cl);
  border: 1px solid var(--btn-del-cl-active);
}
.deleteBtn:disabled {
  cursor: auto;
}
.deleteBtn:disabled.deleteBtn:hover {
  background-color: var(--secondary-bg-cl);
  border: 1px solid var(--additional-bg-cl);
  box-shadow: none;
}
.editBtn {
  @include font(500, 14px, 2.71);
  color: var(--additional-text-cl);
  background-color: var(--btn-edit-cl);
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid var(--btn-edit-cl);
  transition: all 250ms linear;
  border-radius: 10px;
  margin-left: auto;
  display: block;
}
.editBtn:hover,
.editBtn:focus {
  background-color: var(--btn-edit-cl-hover);
  border: 1px solid var(--btn-edit-cl-hover);
  box-shadow: 4px 4px 8px rgba(36, 42, 55, 0.15);
}
.editBtn:active {
  background-color: var(--btn-edit-cl-active);
  border: 1px solid var(--btn-edit-cl-active);
}
.editBtn:disabled {
  cursor: auto;
}
.editBtn:disabled.editBtn:hover {
  background-color: var(--secondary-bg-cl);
  border: 1px solid var(--additional-bg-cl);
  box-shadow: none;
}

.add {
  @include font(500, 14px, 2.71);
  background-color: var(--btn-add-cl);
  color: var(--auth-bg-cl);
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid var(--btn-add-cl);
  transition: all 250ms linear;
  border-radius: 10px;
  display: block;
  width: 100%;
  @include vp(tablet) {
    width: 50%;
  }
}
.add:hover,
.add:focus {
  background-color: var(--btn-add-cl-hover);
  color: var(--main-text-cl);
  border: 1px solid var(--btn-add-cl-hover);
  box-shadow: 4px 4px 8px rgba(36, 42, 55, 0.15);
}
.add:active {
  background-color: var(--btn-add-cl-active);
  border: 1px solid var(--btn-add-cl-active);
}

.add:not(:last-child) {
  margin-bottom: 15px;
  @include vp(tablet) {
    margin-bottom: 0;
    margin-right: 15px;
  }
}

.cancelBtn {
  @include font(500, 14px, 2.71);
  color: var(--additional-text-cl);
  background-color: var(--btn-cancel-cl);
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid var(--btn-cancel-cl);
  transition: all 250ms linear;
  border-radius: 10px;
  display: block;
  width: 100%;
  @include vp(tablet) {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.cancelBtn:hover,
.cancelBtn:focus {
  background-color: var(--btn-cancel-cl-hover);
  border: 1px solid var(--btn-cancel-cl-hover);
  box-shadow: 4px 4px 8px rgba(36, 42, 55, 0.15);
}
.cancelBtn:active {
  background-color: var(--btn-cancel-cl-hover);
  border: 1px solid var(--btn-cancel-cl-hover);
}
.cancelBtn:disabled {
  cursor: auto;
}
.cancelBtn:disabled.cancelBtn:hover {
  background-color: var(--secondary-bg-cl);
  border: 1px solid var(--additional-bg-cl);
  box-shadow: none;
}
