:root {
  --placeholder-text-cl: #a6abb9;
  --scrollbar-bg-cl: #e0e5eb;
  --main-bg-cl: #e1dbe5;
  --secondary-bg-cl: #f9f3f5;
  --additional-bg-cl: #ffffff;
  --auth-bg-cl: #f5f7fa;
  --main-text-cl: #242a37;
  --additional-text-cl: #000000;
  --modal-overlay: rgba(43, 43, 43, 0.1);
  --btn-del-cl: #e34f6f;
  --btn-del-cl-hover: #faa476;
  --btn-del-cl-active: #fcde9c;
  --btn-add-cl: #0b5d37;
  --btn-add-cl-hover: #6ca589;
  --btn-add-cl-active: #b3b3bd;
  --btn-edit-cl: #adb5d3;
  --btn-edit-cl-hover: #f6e8da;
  --btn-edit-cl-active: #fef6b5;
  --btn-cancel-cl: #f6e8da;
  --btn-cancel-cl-hover: #cfd1e0;
}
